:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --ms-main-color: #00b1c7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: #f7f7f7;
}

#root {
  background: "#f7f7f7";
}

.rdt_TableCol_Sortable {
  font-weight: bold;
  font-size: 0.8rem;
}

.showToast {
  opacity: 1;
  transform: translateX(-50px);
  transition: all 250ms ease-in;
}

.hideToast {
  opacity: 0;
  transition: all 250ms ease-in;
}

.Titulo {
  font-size: 2rem;
  font-weight: 600;
  color: #5b5b5b;
  letter-spacing: 1px;
}

.Subtitulo {
  font-size: 1.5rem;
  color: #0078b3;
  letter-spacing: 0.5px;
}

