.modulo {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  color: #5dade2;
}

.hrstyle {
  margin: 10px 0;
  border: none;
  border-bottom: 5px solid #5dade2;
}

.hrstyle2 {
  margin-top: 4rem;
  border: none;
  border-bottom: 5px solid #5dade2;
}

.spanObligatorio {
  color: red;
  margin-left: 5px;
  font-size: 20px;
}
